/* additional styling */

/*tei-body { background-color: green ; }*/

tei-head { color: red; font-family: monospace; }

tei-teiheader {display: block;}

tei-head::after {
  content: '\A]';
  display: block;
}

*[rend="Kapitälchen"]{
  font-variant: small-caps;
}

tei-seg[]{
font-size: 300%;
float: left;
line-height: 1em;
padding-right: 10px;
}

tei-placename tei-persname tei-orgname {
  text-decoration: underline;
  text-decoration-style: solid;
  color: #252525;
}

tei-date {
  text-decoration: underline;
  text-decoration-style: dotted;
}

tei-sourceDesc {
  display:block;
}

tei-head::before{
  content: attr(n) ". " ;
  /* takes the n attr of head */
}
