/* html DOM styling */

body, video { max-width: 50rem; }

#TEI-apprentisage tei-head {
  display: block;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 200%;
  text-indent: 2rem;
  color: #ffafaf; 
  background-color:#252525;
  width: 150%;
  margin: 20px 0px 10px -2rem;
  padding: 10px 0px;
}

/* additional styling */

tei-body { hyphens: auto; }

tei-head { 
  color: #ffafaf; 
}

tei-teiheader {
  display: block;
  color: #ccc;
  border-bottom: 1px dotted black;
}

tei-teiheader * {
  color: #ccc;
}

tei-head::after {
  display: block;
}

tei-front {
  display: block;
  background-color: #efefef;
  margin: 0 1rem;
  border-bottom: 1px dotted black;
}

*[rend="Kapitälchen"]{
  font-variant: small-caps;
}

*[rend="initial"]{
  float: left;
  font-size: 2.66rem;
  line-height: 2rem;
  padding-top: 6px;
  padding-right: 8px;
  padding-left: 3px;
}

*[rend="uppercase"]{
  text-transform:uppercase;
}

*[rendition="simple:italic"]{
  font-style: italic;
}

*[rendition="simple:underline"]{
  border-bottom;
}

*[rendition="simple:superscript"]{
  position: relative; top: -0.5em; font-size: 60%; 
}

*[rendition="simple:bold"]{
  font-weight: bold; 
}

tei-seg[]{
font-size: 300%;
float: left;
line-height: 1em;
padding-right: 10px;
}

tei-placename, tei-persname, tei-orgname {
  text-decoration: underline;
  text-decoration-style: solid;
  color: #252525;
}

tei-date {
  text-decoration: underline;
  text-decoration-style: dotted;
}

tei-p {
  margin-bottom: 0;
  padding-bottom: 0;
  
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: large;
  
}

tei-editor:before {
  content: "hrsg. v. ";
  color: #ccc;
  font-size:smaller;
}

tei-author:before {
  content: "von: "
  color: #ccc;
}

tei-pb:before {
  content: "||" attr(n) "||";
  color: #ccc;
  font-size:smaller;
}

tei-sourcedesc {
  display:block;
}

#TEI tei-head::before{
  content: attr(n) ". " ;
  /* takes the n attr of head */
}

tei-title {
  font-style: italic;
}
