/* html DOM styling */

body { max-width: 50rem; }

/* additional styling */

/*tei-body { background-color: green ; }*/

tei-head { 
  color: red; 
  /* font-family: monospace; */
}

tei-teiheader {display: block;}

tei-teiheader::after {
  border-bottom: 1px dotted black;
}

tei-note {
  display: inline-flex;
}

tei-head::after {
  display: block;
}

*[rend="Kapitälchen"]{
  font-variant: small-caps;
}

*[rend="initial"]{
  float: left;
  font-size: 2.66rem;
  line-height: 2rem;
  padding-top: 6px;
  padding-right: 8px;
  padding-left: 3px;
}

*[rend="uppercase"]{
  text-transform:uppercase;
}

tei-seg[]{
font-size: 300%;
float: left;
line-height: 1em;
padding-right: 10px;
}

tei-placename, tei-persname, tei-orgname {
  text-decoration: underline;
  text-decoration-style: solid;
  color: #252525;
}

tei-date {
  text-decoration: underline;
  text-decoration-style: dotted;
}

tei-note {
  display: block;
  margin: 1.5em auto 1.5em auto;
  padding: .5em 1.5em 1.5em 1.5em;
  border: 1px solid black;
  border-radius: 15px;
  width: 325px;
  position: relative;
  border: 1px solid #aaaaaa;
  background: #fafafa;
}

tei-pb {
  content: attr(n) "||";
  display: inline;
}

tei-sourcedesc {
  display:block;
}

tei-head::before{
  content: attr(n) ". " ;
  /* takes the n attr of head */
}
